In [23]:
import pandas as pd
import numpy as np

In [24]:
# Load the dataset
df = pd.read_excel("Models\IWA_new.xlsx", sheet_name='Final Raw Sample(0%)')
df["Environmental Intensity (Op Inc)"] = df["Environmental Intensity (Op Inc)"]*100
df["Environmental Intensity (Sales)"] = df["Environmental Intensity (Sales)"]*100
df = df.dropna()
df.describe()

,Year,Environmental Intensity (Sales),Environmental Intensity (Op Inc),Revenue,Operating Income,Total Environmental Cost,Working Capacity,Fish Production Capacity,Crop Production Capacity,Meat Production Capacity,...,SDG 6,SDG 12.2,SDG 14.1,SDG 14.2,SDG 14.3,SDG 14.c,SDG 15.1,SDG 15.2,SDG 15.5,% Imputed
count,13255.000000,13255.000000,13255.000000,1.325500e+04,1.325500e+04,1.325500e+04,1.325500e+04,1.325500e+04,1.325500e+04,1.325500e+04,...,1.325500e+04,1.325500e+04,13255.000000,13255.000000,1.325500e+04,13255.000000,1.325500e+04,1.325500e+04,1.325500e+04,13255.000000
mean,2014.967786,-10.924721,-203.455216,1.377778e+10,1.612532e+09,-1.127009e+09,-9.863493e+08,-2.884428e+05,-1.279486e+07,-2.974561e+06,...,-1.198481e+08,-4.780801e+06,-4814.623217,-1853.794943,-1.357714e+05,-5721.743941,5.843617e+04,1.381861e+04,-4.073476e+04,0.065964
std,2.792714,26.506164,2488.450225,3.110656e+10,3.896946e+09,4.811956e+09,4.217011e+09,1.139594e+06,5.408273e+07,1.256581e+07,...,1.363792e+09,1.030700e+08,24678.366236,14456.663131,5.381061e+05,29352.770698,3.575647e+05,2.339473e+06,1.699492e+05,0.067471
min,2010.000000,-199.278721,-246289.416837,8.108000e+06,-1.490280e+09,-1.144424e+11,-7.791808e+10,-1.888769e+07,-9.241874e+08,-2.161508e+08,...,-7.691509e+10,-4.485891e+09,-483554.391700,-637843.776412,-9.017876e+06,-576362.772700,-3.991837e+06,-1.591757e+08,-2.907937e+06,0.000000
25%,2013.000000,-8.784346,-91.596196,1.468290e+09,1.560486e+08,-4.488437e+08,-4.015154e+08,-1.046435e+05,-5.286589e+06,-1.222073e+06,...,-2.063631e+07,-9.148126e+04,-602.118303,-220.498018,-4.952169e+04,-717.682603,7.854620e+01,6.965077e+01,-1.657232e+04,0.011382
50%,2015.000000,-1.992287,-21.550120,4.300443e+09,4.287493e+08,-9.553410e+07,-8.423035e+07,-2.246646e+04,-1.103076e+06,-2.569981e+05,...,-2.718530e+06,-1.132753e+04,-91.267921,-30.194350,-1.083142e+04,-108.784933,7.529707e+02,7.171479e+02,-3.499918e+03,0.039636
75%,2017.000000,-0.684069,-5.624209,1.273768e+10,1.272108e+09,-2.121046e+07,-1.913634e+07,-5.298372e+03,-2.492378e+05,-5.799380e+04,...,-3.004138e+05,-1.929421e+03,-14.909830,-4.469561,-2.531129e+03,-17.771467,6.470874e+03,6.261595e+03,-7.919335e+02,0.104491
max,2019.000000,190.359635,7994.514465,6.740459e+11,7.071866e+10,5.211102e+10,5.099029e+10,1.164796e+07,6.781193e+08,1.589838e+08,...,2.093348e+10,0.000000e+00,189956.254000,0.005117,5.825526e+06,226412.474000,7.146112e+06,7.146112e+06,2.122135e+06,0.249796

In [25]:
# Calculate the 0.15th and 99.85th percentile
pct_0_15 = np.percentile(df['Environmental Intensity (Sales)'], 0.5)
pct_99_85 = np.percentile(df['Environmental Intensity (Sales)'], 99.5)

# Remove the data points outside the 0.15th and 99.85th percentile
df_new = df[(df['Environmental Intensity (Sales)'] >= pct_0_15) & (df['Environmental Intensity (Sales)'] <= pct_99_85)].copy()
df_new.describe()

,Year,Environmental Intensity (Sales),Environmental Intensity (Op Inc),Revenue,Operating Income,Total Environmental Cost,Working Capacity,Fish Production Capacity,Crop Production Capacity,Meat Production Capacity,...,SDG 6,SDG 12.2,SDG 14.1,SDG 14.2,SDG 14.3,SDG 14.c,SDG 15.1,SDG 15.2,SDG 15.5,% Imputed
count,13121.000000,13121.000000,13121.000000,1.312100e+04,1.312100e+04,1.312100e+04,1.312100e+04,1.312100e+04,1.312100e+04,1.312100e+04,...,1.312100e+04,1.312100e+04,13121.000000,13121.000000,1.312100e+04,13121.000000,1.312100e+04,1.312100e+04,1.312100e+04,13121.000000
mean,2014.970810,-10.481177,-200.009913,1.383362e+10,1.614455e+09,-1.108146e+09,-9.677388e+08,-2.750043e+05,-1.257594e+07,-2.920824e+06,...,-1.198874e+08,-4.763605e+06,-4371.064450,-1816.897440,-1.296308e+05,-5192.880053,5.221959e+04,7.184038e+03,-3.983805e+04,0.066438
std,2.788858,22.948692,2497.151956,3.124181e+10,3.911881e+09,4.609141e+09,4.023822e+09,1.088269e+06,5.139759e+07,1.193828e+07,...,1.293721e+09,1.035165e+08,23173.072665,14197.612933,5.124258e+05,27553.518250,3.350695e+05,2.347673e+06,1.620535e+05,0.067530
min,2010.000000,-161.664661,-246289.416837,8.108000e+06,-1.490280e+09,-1.144424e+11,-7.791808e+10,-1.888769e+07,-9.241874e+08,-2.161508e+08,...,-7.691509e+10,-4.485891e+09,-483554.391700,-637843.776412,-9.017876e+06,-576362.772700,-3.991837e+06,-1.591757e+08,-2.907937e+06,0.000000
25%,2013.000000,-8.662584,-89.873592,1.462750e+09,1.553280e+08,-4.437618e+08,-3.947832e+08,-9.989676e+04,-5.187851e+06,-1.199910e+06,...,-2.017360e+07,-8.832017e+04,-571.800974,-214.153073,-4.775456e+04,-681.546483,7.602409e+01,6.813220e+01,-1.628804e+04,0.011686
50%,2015.000000,-1.992287,-21.550120,4.296829e+09,4.273537e+08,-9.553410e+07,-8.406696e+07,-2.207779e+04,-1.101720e+06,-2.567358e+05,...,-2.706143e+06,-1.110589e+04,-89.280556,-29.614256,-1.062849e+04,-106.416134,7.285897e+02,7.020432e+02,-3.493421e+03,0.040314
75%,2017.000000,-0.693148,-5.703649,1.278473e+10,1.266897e+09,-2.168513e+07,-1.932072e+07,-5.242209e+03,-2.522801e+05,-5.855962e+04,...,-3.054580e+05,-1.907495e+03,-14.737642,-4.387123,-2.505662e+03,-17.566231,6.132890e+03,5.906305e+03,-8.023413e+02,0.105190
max,2019.000000,21.596834,7994.514465,6.740459e+11,7.071866e+10,2.046400e+10,1.789551e+10,6.664777e+06,2.398745e+08,5.648686e+07,...,3.972227e+09,0.000000e+00,189956.254000,0.005117,3.108331e+06,226412.474000,7.146112e+06,7.146112e+06,7.777353e+05,0.249715

In [26]:
df_new.to_csv("Sales_no_outliers.csv")

In [27]:
df_rev = df_new.copy()
for column in df_rev.loc[:,"Working Capacity":"SDG 15.5"]:
    #print(column)
    df_rev[column] = (df_rev[column] / df_rev['Revenue'])*100

In [28]:
df_rev.to_csv("Sales_no_outliers_percentage.csv")

In [29]:
df_rev.describe()

,Year,Environmental Intensity (Sales),Environmental Intensity (Op Inc),Revenue,Operating Income,Total Environmental Cost,Working Capacity,Fish Production Capacity,Crop Production Capacity,Meat Production Capacity,...,SDG 6,SDG 12.2,SDG 14.1,SDG 14.2,SDG 14.3,SDG 14.c,SDG 15.1,SDG 15.2,SDG 15.5,% Imputed
count,13121.000000,13121.000000,13121.000000,1.312100e+04,1.312100e+04,1.312100e+04,13121.000000,13121.000000,13121.000000,13121.000000,...,13121.000000,13121.000000,1.312100e+04,1.312100e+04,13121.000000,1.312100e+04,13121.000000,13121.000000,13121.000000,13121.000000
mean,2014.970810,-10.481177,-200.009913,1.383362e+10,1.614455e+09,-1.108146e+09,-9.067793,-0.002517,-0.118278,-0.027581,...,-1.246042,-0.018936,-3.528433e-05,-1.323261e-05,-0.001198,-3.972936e-05,0.000405,-0.000025,-0.000376,0.066438
std,2.788858,22.948692,2497.151956,3.124181e+10,3.911881e+09,4.609141e+09,20.300889,0.005682,0.265328,0.062075,...,6.533419,0.252638,2.556170e-04,5.432087e-05,0.002707,1.460124e-04,0.001728,0.019480,0.000839,0.067530
min,2010.000000,-161.664661,-246289.416837,8.108000e+06,-1.490280e+09,-1.144424e+11,-156.519868,-0.056913,-2.073456,-0.485045,...,-150.613951,-11.074384,-2.573223e-02,-9.107194e-04,-0.027277,-5.562915e-03,-0.008381,-1.147740,-0.006684,0.000000
25%,2013.000000,-8.662584,-89.873592,1.462750e+09,1.553280e+08,-4.437618e+08,-7.486251,-0.002005,-0.097682,-0.022774,...,-0.357957,-0.001664,-7.860850e-06,-3.534424e-06,-0.000962,-9.369580e-06,0.000006,0.000006,-0.000310,0.011686
50%,2015.000000,-1.992287,-21.550120,4.296829e+09,4.273537e+08,-9.553410e+07,-1.777290,-0.000452,-0.023228,-0.005400,...,-0.053297,-0.000179,-1.497232e-06,-6.034899e-07,-0.000216,-1.784595e-06,0.000016,0.000016,-0.000073,0.040314
75%,2017.000000,-0.693148,-5.703649,1.278473e+10,1.266897e+09,-2.168513e+07,-0.644636,-0.000167,-0.008436,-0.001952,...,-0.009478,-0.000063,-5.700483e-07,-1.245958e-07,-0.000080,-6.794574e-07,0.000075,0.000071,-0.000027,0.105190
max,2019.000000,21.596834,7994.514465,6.740459e+11,7.071866e+10,2.046400e+10,22.956825,0.007021,0.418551,0.090927,...,28.495982,0.000000,1.981216e-04,5.816653e-12,0.003283,2.361449e-04,0.068584,0.068584,0.001042,0.249715

In [30]:
brewery_df = df_new[df_new['GICS Sub-Industry'] == 'Brewers']

brewery_df = brewery_df[brewery_df['Company Name'] != 'CHINA RESOURCES BEER (HLDGS)']
brewery_df = brewery_df[brewery_df['Company Name'] != 'CRAFT BREW ALLIANCE INC']
brewery_df

,Year,Company Name,Country,GICS Sub-Industry,Industry (Exiobase),Environmental Intensity (Sales),Environmental Intensity (Op Inc),Revenue,Operating Income,Total Environmental Cost,...,SDG 6,SDG 12.2,SDG 14.1,SDG 14.2,SDG 14.3,SDG 14.c,SDG 15.1,SDG 15.2,SDG 15.5,% Imputed
516,2019,BUDWEISER BREWING CO,CAYMAN ISLANDS,Brewers,Manufacture of beverages,-7.019612,-37.638941,6.582921e+09,1.227706e+09,-4.620955e+08,...,-2.484940e+08,-21847.771988,-140.450129,-28.052546,-25278.227923,-167.406661,1886.414782,1886.414782,-8773.429720,0.017490
517,2019,MOLSON COORS BEVERAGE CO,UNITED STATES OF AMERICA,Brewers,Manufacture of beverages,-6.596233,-46.522794,1.057940e+10,1.500000e+09,-6.978419e+08,...,-3.977745e+08,-77571.792798,-1113.208360,-326.988191,-37024.568588,-1326.865949,15176.840942,15176.840942,-12261.768244,0.059202
519,2019,COMPANIA CERVECERIAS UNIDAS,CHILE,Brewers,Manufacture of beverages,-6.415653,-54.146661,2.423979e+09,2.872090e+08,-1.555141e+08,...,-9.485571e+07,-65916.007408,-104.142317,-467.109898,-5751.475432,-124.130306,-1430.679992,-55213.362037,-2224.738635,0.084882
523,2019,ANHEUSER-BUSCH INBEV,BELGIUM,Brewers,Manufacture of beverages,-3.388736,-11.492977,5.248464e+10,1.547524e+10,-1.778566e+09,...,-1.909141e+08,-222519.248882,-3914.291085,-325.789140,-190769.424529,-4665.559245,56659.806086,56659.806086,-64862.799133,0.080199
526,2019,CARLSBERG A/S,DENMARK,Brewers,Manufacture of beverages,-2.414563,-16.054846,9.890572e+09,1.487489e+09,-2.388141e+08,...,-3.902679e+07,-366663.271634,-1480.449400,-288.844325,-27951.868900,-1764.591400,19253.589023,19132.282417,-8148.334758,0.029599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13370,2010,HEINEKEN NV,NETHERLANDS,Brewers,Manufacture of beverages,-2.670526,-20.743185,2.164753e+10,2.786953e+09,-5.781028e+08,...,-4.990628e+07,-165536.025577,-2301.994560,-140.963088,-76384.211659,-2743.815360,33270.073871,33270.073871,-22119.416745,0.008737
13371,2010,CARLSBERG A/S,DENMARK,Brewers,Manufacture of beverages,-2.321684,-14.921489,1.081400e+10,1.682586e+09,-2.510669e+08,...,-4.237946e+07,-390154.909705,-3229.881860,-307.350204,-43668.262875,-3849.791660,44939.983297,44810.904736,-9029.590738,0.020611
13373,2010,KIRIN HOLDINGS CO LTD,JAPAN,Brewers,Manufacture of beverages,-1.970958,-28.311453,2.685426e+10,1.869512e+09,-5.292861e+08,...,-1.709025e+07,-37042.309634,-568.200650,-107.606420,-59377.364941,-677.255150,7619.713272,7619.713272,-20952.815851,0.006961
13378,2010,ASAHI GROUP HOLDINGS LTD,JAPAN,Brewers,Manufacture of beverages,-1.308837,-20.445526,1.836638e+10,1.175739e+09,-2.403860e+08,...,-7.582591e+06,-25334.276719,-74.543755,-73.595055,-26155.019698,-88.850905,569.817545,569.817545,-9481.541358,0.011001
13379,2010,SAPPORO HOLDINGS LTD,JAPAN,Brewers,Manufacture of beverages,-1.179994,-29.819234,4.799728e+09,1.899328e+08,-5.663652e+07,...,-4.091458e+05,-6620.664675,-179.843325,-19.232765,-6882.769342,-214.360575,2518.889255,2518.889255,-2305.944011,0.011922

In [31]:
brewery_df.to_csv("Sales_no_outliers_brewery_only.csv")